
<div class="form-group">
    <button class="pickYourTeam border-solid border-2 border-gray-800 rounded-md text-white bg-gray-800 hover:bg-lightblue" type="submit">PICK YOUR TEAM!!!</button>
  </div>
  <div class="container">
      <h2>This Week's NFL Matchups</h2>
     <img  src="../assets/img/nflscreen.png" alt="nfl schedule" >
  </div>



  

  


<script src="./js/profile.js"></script>

