
<div class="form-group">
    <button class="pickYourTeam border-solid border-2 border-gray-800 rounded-md text-white bg-gray-800 hover:bg-lightblue" type="submit">PICK YOUR TEAM!!!</button>
  </div>
  <div class="container">
      <h2>This Week's NFL Matchups</h2>
     <li>
      <ul>Commanders vs Bears</ul>
      <ul>Ravens vd Giants</ul>
      <ul>Jaguars Vs Colts</ul>
      <ul>Patriots vs Browns</ul>
      <ul>Bengals vs Saints</ul>
      <ul>Buccaneers vs Steelers</ul>
      <ul>49ers vs Falcons</ul>
      <ul>Jets vs Packers</ul>
      <ul>Vikings vs Dolphins</ul>
      <ul>Panthers vs Rams</ul>
      <ul>Cardinals vs Seahawks</ul>
      <ul>Bills vs Cheifs</ul>
      <ul>Cowboys vs Eagles</ul>
      <ul>Chargers vs Broncos</ul>
     </li>
  </div>



  

  


<script src="./js/profile.js"></script>

