
<div class="form-group">
    <button class="pickYourTeam border-solid border-2 border-gray-800 rounded-md text-white bg-gray-800 hover:bg-lightblue" type="submit">PICK YOUR TEAM!!!</button>
  </div>
  <div class="container">
      <h2>This Week's NFL Matchups</h2>
  <div class="center-col">
  <div class="px-2">
      <div class="bg-gray-500 h-80"></div>
    </div>
    <div class="container">
      <h2>Leaderboard</h2>
    <div class="right-col">
    <div class="px-2">
      <div class="bg-gray-500 h-80"></div>
    </div>
  </div>
</div>

  


<script src="./js/profile.js"></script>

