
    <header>
      <h1> <display:block> Teams you've used</display:block> </h1>
      <div class="card">
        <label for="Teams You've Used"></label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <h1><display:block>Teams available to you</display:block></h1>
      <div class="card">
        <label for="Teams Available to you"></label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <h1> Select team (button) </h1>
        <div class="form-group">
    <button class="selectTeam border-solid border-2 border-gray-800 rounded-md text-white bg-gray-800 hover:bg-lightblue" type="submit">Select Team</button>
  </div>
     </header>

 
 <script src="./js/teamSelect.js"></script>

 
