
    <header>
      <h1> <display:block> Teams you've used</display:block> </h1>
      <div class="card">
        <label for="Teams You've Used">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <h1><display:block>Teams available to you</display:block></h1>
      <div class="card">
        <label for="Teams Available to you">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <h1> select team (button) </h1>
      <button class="button">
        <label for="Select Team">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </button>
     </header>

 
 <script src="./js/teamSelect.js"></script>

 
